{% extends "layout_logout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post" style="margin:-50px">
        <input name="username" type="text" style="font-size: 15pt" autofocus autocomplete="off" placeholder=" username">
        <p></p>
        <input name="password" type="password" style="font-size: 15pt" autocomplete="off" placeholder=" password">
        <p></p>
        <input name="confirmation" type="password" style="font-size: 15pt" autocomplete="off" placeholder=" confirm password">
        <p></p>
        <button type="submit" style="font-size: 12pt; width:150px; margin-top: 10px;" class="nav-btn">Register</button>
    </form>
    <br>
    <br>
    <br>
        <p id="error-message"></p>
{% endblock %}

{% block script %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        const errorMessage = document.getElementById("error-message");
        const registerForm = document.querySelector("form");
        const errorText = "<b style='color:red'>Error:</b><br>";
        registerForm.addEventListener("submit", function(event) {
            event.preventDefault();
            errorMessage.innerHTML = "";
            const username = document.querySelector("input[name='username']").value;
            const password = document.querySelector("input[name='password']").value;
            const confirmation = document.querySelector("input[name='confirmation']").value;
            if (!username || !password) {
                errorMessage.innerHTML += errorText + " Please enter both username and password";
                return;
            }
            if (!confirmation) {
                errorMessage.innerHTML += errorText + "Please confirm your password";
                return;
            }
            fetch("/check_register_data", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({username, password, confirmation})
            })
            .then(response => response.json())
            .then(data => {
                if (data.status_code === 200) {
                    window.location.href = "/profile";
                } else {
                    errorMessage.innerHTML += errorText + data.message + "<br>";
                }
            })
            });
        });

    </script>
{% endblock %}